<!DOCTYPE html>
<html>

<head>
  <title>AWX - Mobile Backend Example</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>AWX - Mobile Backend Example</h1>
  <p>See Github repo <a href="https://github.com/awx-daniel-tian/checkout-mobile-backend-example">here.</a></p>
</body>

</html>